	body {
		margin: 0;
		padding: 0;
		font-family: "Fira Sans";
	}

	#map {
		position: relative;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.title {
		color: #7b2836;
		font-family: "Merriweather";
		font-weight: 900;
		padding-left: 1%;
	}

	.subtitle {
		color: #7b2836;
		font-family: "PT Sans";
		font-weight: normal;
		padding-left: 1%;

		/*text-align: right;*/
	}
	